.onecol{width: 8.33%; float: left;}
.twocol{width: 16.66%; float: left;}
.threecol{width: 24.99%; float: left;}
.fourcol{width: 33.33%; float: left;}
.fivecol{width: 41.66%; float: left;}
.sixcol{width: 49.99%; float: left;}
.sevencol{width: 58.33%; float: left;}
.eightcol{width: 66.66%; float: left;}
.ninecol{width: 74.99%; float: left;}
.tencol{width: 83.33%; float: left;}
.elevencol{width: 91.66%; float: left;}
.twelvecol{width: 100%; float: left;}
* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
	text-align: center;
    max-width: 1280px;
    width: 100%;
}
#container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

section {
    height: 90px;
    color: black;

}
section a {
    text-align: center;
}
section input {
    height: 75px;
    font-size: 2em;
    margin: 0px 1px;
    border-color: #444;
    border-width: 1px;
}
section button {
    height: 75px;
    font-size: 1.5em;
    border-color: #444;
    border-width: 1px;
    margin: 0px 1px;
}

#interactiveColor {
    background-color: #444;
    height: 125px;
}
.textdisplay {
    height: 75px !important;
}
#wordDisplay {
    font-size: 2.2em;
}
#hangman {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}
#incorrectLetters {
    font-size: 1.8em;
}
h1 {
    color: white;
    margin: 15px auto;
    font-size: 2em;s
}
.navbar {
    background-color: #E24A96;
    margin: 0 auto;
    height: 90px;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
.navbar a {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  margin: 15px auto;
  font-size: 2em;
}
.navbar a:hover {
    transition: 0.8s;
    color: #444;
}
.heightspace {
    min-height: 25px;
}
