.onecol{width: 8.33%; float: left;}
.twocol{width: 16.66%; float: left;}
.threecol{width: 24.99%; float: left;}
.fourcol{width: 33.33%; float: left;}
.fivecol{width: 41.66%; float: left;}
.sixcol{width: 49.99%; float: left;}
.sevencol{width: 58.33%; float: left;}
.eightcol{width: 66.66%; float: left;}
.ninecol{width: 74.99%; float: left;}
.tencol{width: 83.33%; float: left;}
.elevencol{width: 91.66%; float: left;}
.twelvecol{width: 100%; float: left;}
* {
    font-family: 'Orbitron', sans-serif;
    height: 100%;
}
header {
    height: 20%;
	text-align: center;
    max-width: 1280px;
    width: 100%;
}
#container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
h1{
    padding: 0;
    margin: 0 auto;
    font-style: bold;
    font-size: 3em;

    border-bottom: 1px solid lightgrey;
}
section {
    padding: 0;
    height: 15%;
    color: black;
    font-size: 2vw;
}
section a {
    text-align: center;
}
section input {
    height: 50%;
}
section button {
    height: 60%;
}
p {
    padding: 0.3em;
    margin: 0;
}
#interactiveColor {
    background-color: #d12141;
}
button {
    margin: 0;
    padding: 0;
}
